#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "Resource.h"

/******************************************************************************
 *
 * Level Select dialog
 *
 *****************************************************************************/

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_AUS
ID_DIALOG_LOAD_LEVEL DIALOG 0, 0, 182, 158
STYLE DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
CAPTION "Level Select"
FONT 8, "Ms Shell Dlg 2"
BEGIN

    //
    // Level list
    //
    GROUPBOX        "Select Level", IDC_STATIC, 7, 7, 168, 122
    LISTBOX         ID_DIALOG_LOAD_LEVEL_LIST, 15, 21, 152, 100, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY

    //
    // Dialog buttons
    //
    DEFPUSHBUTTON   "Load", IDOK, 70, 135, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 65, 195, 50, 16

END
