#include "Menus.h"

/******************************************************************************
 *
 * Default menu
 *
 *****************************************************************************/

ID_MENU_CHAOS MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open ROM...",                ID_FILE_OPEN
        MENUITEM "Open &Level...",              ID_FILE_OPEN_LEVEL, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    ID_WINDOW_CASCADE, GRAYED
        MENUITEM "&Tile",                       ID_WINDOW_TILE, GRAYED
        MENUITEM "Close &All",                  ID_WINDOW_CLOSEALL, GRAYED
    END
END

/******************************************************************************
 *
 * Level editor menu
 *
 *****************************************************************************/

ID_MENU_LEVEL MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open ROM...",                ID_FILE_OPEN
        MENUITEM "Open &Level...",              ID_FILE_OPEN_LEVEL
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       ID_FILE_EXIT
    END
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    ID_WINDOW_CASCADE
        MENUITEM "&Tile",                       ID_WINDOW_TILE
        MENUITEM "Close &All",                  ID_WINDOW_CLOSEALL
    END
END
